.card-details {
    display: inline-block;
    width: 250px;
    height: 320px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    
}
.card-details img {
    width: 97%;
}
.price {
    font-weight: bold;
}
.item-title{
    font-size: 20px;
    padding: 5% 0;
    font-weight: bold;
}